<h1><%= @email.subject %></h1>

<p>From: <%= @email.from %></p>
<p>Reply to: <%= mail_to @email.reply_to %></p>

<%= @email.to_html.html_safe %>

<hr/>

<% @email.replies.each do |reply| %>
   <p>From: <%= reply.from %></p>
   <%= reply.to_html.html_safe %>
<% end %>
